.titleContainer{
    background-color:rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    font-size:inherit;
}

.title{
    color: var(--highlight-colour);
}




.card{
    margin: 5vw;
    position: relative;
    width: 20vw;
    height: 20vw;
    padding: 5vw;
    min-height: 300px;
    min-width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-colour);
    font-size: larger;
    transition: 0.1s;
    box-shadow: 0em 0em 0em 0.2em var(--highlight-colour);
}

.card:hover{
    margin: 0vw 2.5vw;
    width: 25vw;
    height: 25vw;
    box-shadow: 0em 0em 2em 1em var(--highlight-colour);
    font-size: x-large;
}


.background:hover{
    opacity: 70%;
}

@media (max-width: 800px){
    .card{
        width: 50vw;
    }
}