.card{
    width: 15vw;
    height:25vh;
    margin: auto;
    padding: 0.1em;
    border-width: 0.5em;
    border-style: groove;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--secondary-colour);
}

.title{
    width:100%;
    margin-top: 0em;
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    background-color: var(--highlight-colour);
}

.body{
    margin-top: 0.1em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.icon{
    height: 40%;
    width: auto
}

@media (max-width: 800px) {
    .card{
        width:40%;
        margin-top: 1em;
    }
    
}