.container {
  padding: 0 2rem;
  
}

.main {
  margin:auto;
  min-height: 90vh;
  width: 80vw;
  padding: -1rem -3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colour);
  border: 1rem ridge var(--highlight-colour);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}




.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--highlight-colour)
}

.title,
.description {
  text-align: center;
}

.opener{
  display: flex;
  flex-direction: column;
}

.rowcard{
  text-align: center;
  margin-top: 1em;
  display:flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .routes {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .rowcard{
    flex-direction: column;
  }
}

.routes{
  margin-top: 3em;
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 800px){
  .title{
    font-size: 3rem;
  }
}