.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1em;
    border: 0.1em solid white;
  }
  
  .text{
    width: 50%;
  }

  .image{
    width: 20%;
    height:90%;
    padding-top: 1em;
  }
  
  .list{
    width: 29%;
  }

  @media screen and (max-width:720px) {
    .text{
      width:45%;
    }
    .text > p{
      font-size: smaller;
    }
    .text > h3{
      font-size: small;
    }
    .image{
      width:15%;
      padding-top: 0em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }
    .list{
      width:39%
    }
    .list > h3{
      font-size: small;
    }
    
  }