.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1em;
    border: 0.1em solid white;
  }
  
  .text{
    width: 50%;
  }

  .image{
    width: 20%;
    height:90%;
    padding-top: 1em;
  }
  
  .list{
    width: 29%;
  }