.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1em;
  }
  
  .text{
    width: 50%;
  }

  .image{
    width: 20%;
    height:90%;
    display: block;
    align-self: center;
  }
  
  .list{
    width: 29%;
  }