:root{
  --background-colour: #172121;
  --highlight-colour: #A31621;
  --primary-colour: #16A398;
  --secondary-colour: #5216A3;
  --text-colour: #E2E2E2;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: silver;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  background-color: var(--background-colour);
  color: var(--text-colour);
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
h1 {
  color: var(--text-colour);
  text-align: center;
}

p {
  font-size: small;
}

* {
  box-sizing: border-box;
}

img:hover{
  cursor: pointer;
}

a{
  color:rgb(77, 77, 254)
}

/* || Main Page Containers || */

.wrapper{
  background-color: var(--primary-colour);
  width: 70%;
  margin: 0.5em auto;
  border-radius: 30%/ 50%;
  box-shadow:
    inset 0 0 0.5em var(--primary-colour),   
    inset 0.2em 0 0.8em var(--highlight-colour),   
    inset -0.2em 0 0.8em var(--secondary-colour),  
    inset 0.2em 0 5em var(--highlight-colour),  
    inset -0.2em 0 5em var(--secondary-colour);
  
}

.hero{
  display:flex;
}

.navbar-container{
  width:50%;
}

.screen-container{
  width:50%;
  background-color: rgb(8, 61, 8);
}


/* || Media Queries || */
@media screen and (max-width:720px) {
  main {
    max-width: 480px;
    margin:auto;
  }
  .hero{
    flex-direction: column;
  }
  .navbar-container{
    width:99%;
  }
  .screen-container{
    width: 99%;
  }
  
}

@media screen and (min-width:1080px) {
  main {
    width: 1080px;
    margin:auto;
    box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
-webkit-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
  }


}