@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

:root{
  --background-colour: #172121;
  --highlight-colour: #A31621;
  --primary-colour: #16A398;
  --secondary-colour: #5216A3;
  --text-colour: #E2E2E2;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: silver;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  background-color: var(--background-colour);
  color: var(--text-colour);
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-right:0.5em;
}
h1 {
  color: var(--text-colour);
  text-align: center;
}

p {
  font-size: small;
}

* {
  box-sizing: border-box;
}

img:hover{
  cursor: pointer;
}

a{
  color:rgb(77, 77, 254)
}

/* || Main Page Containers || */

.wrapper{
  background-color: var(--primary-colour);
  width: 70%;
  margin: 0.5em auto;
  border-radius: 30%/ 50%;
  box-shadow:
    inset 0 0 0.5em var(--primary-colour),   
    inset 0.2em 0 0.8em var(--highlight-colour),   
    inset -0.2em 0 0.8em var(--secondary-colour),  
    inset 0.2em 0 5em var(--highlight-colour),  
    inset -0.2em 0 5em var(--secondary-colour);
  
}

.hero{
  display:flex;
}

.navbar-container{
  width:40%;
}

.screen-container{
  width:60%;
  font-family: "VT323", monospace;
  height:  30em;
}

.computer-screen{
  width:100%;
  height: 90%;
  position: relative;
  border: 1em ridge wheat;
  padding: 1rem;
  background-color: black;
  border-radius: 5%;
}

.computer-screen:before{
  content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 60, 17, 0.6),
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
    border-radius: 10%;
}

.computer-screen:after{
  content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(150,250,0,0.1);
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
    height:100%;
    width: 100%
}

.computer-stack{
  width: 100%;
  height: 4rem;
  background-color: wheat;
}

.scanline {
  width: 100%;
  height: 1px;
  z-index: 2;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  right:0.2em;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

/* || Media Queries || */
@media screen and (max-width:720px) {
  main {
    max-width: 480px;
    margin:auto;
  }
  .hero{
    flex-direction: column;
  }
  .navbar-container{
    width:99%;
  }
  .screen-container{
    width: 99%;
  }
  
}

@media screen and (min-width:1080px) {
  main {
    width: 1080px;
    margin:auto;
    box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
-webkit-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.45);
  }


}

@keyframes scanline {
  0% {
      height: 1px;
      bottom: 100%;
  }
  79% {
      height: 1px;
      bottom: 100%;
  }
  80% {
      height: 100px;
      bottom: 100%;
  }
  100% {
      height: 100px;
      bottom: 0%;
  }
}