:root{
  --background-colour: #172121;
  --highlight-colour: #A31621;
  --primary-colour: #16A398;
  --secondary-colour: #5216A3;
  --text-colour: #E2E2E2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,main {
  background-color: var(--background-colour);
  color: var(--text-colour)
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
